.flex {
    display: flex !important;
}

.flex-row {
    flex-direction: row !important;
    align-items: center;
}

.flex-col {
    flex-direction: column !important;
}

.flex-center-h{
    justify-content: center;
}
.flex-center-v{
    align-items: center;
}

.error-msg {
    color: #f00;
    font-size: 14px;
}

.mb-5 {
    margin-bottom: 5px !important;
}


.text-right {
    text-align: right;
}

.uploaded-img-width {
    width: 100%;
    max-width: 400px
}

.custom-file {
    max-width: 400px;
    width: 100%;
}


.sortable ol {
    list-style-type: none;
}

.sortable .options a {

}

.todo-list li {
    background: none;
    padding: inherit;
    margin-bottom: 0;
    border-left: none;
}

.todo-list li > div {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 2px;
    border-left: 2px solid #e6e7e8;
    display: flex;
    align-items: center;
}

.quick-actions {
    display: flex;
    gap: 3px;
    margin-left: auto;
    justify-content: end;
}

.image-box {
    position: relative;
}

.image-box i.fas.fa-trash-alt {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}

.image-box i.fas.fa-trash-alt:hover {
    color:#f00;
}


.sort-save-loader{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url("/assets/admin/img/loader.svg");
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    display: none;
}

.card-body .table td{
    white-space: normal;
}

.t-center{
    text-align: center;
}

/*youtube-embed*/
.youtube-embed{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.youtube-embed iframe{
    height: 400px;
}
