ul.language-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

ul.language-list li {
    opacity: .4;
    transition: all .2s;
}

ul.language-list li.active-lang {
    opacity: 1;
}

ul.language-list li:hover {
    opacity: 1;
}

ul.language-list li a {
    padding: 0 !important;
}

ul.language-list li img {
    height: 20px;
    width: 30px;
}

.post-content iframe{
    border:none;
}
.post-content img{
    margin: 20px 0;
}
.blog-posts-area .post-thumb img{
    width: 100%;
}
