* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1280px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 1px #f8f8f8;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

nav ul li a {
    display: flex;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

nav ul li a.active {
    background-color: #f8f8f8;
}


nav ul > li > a:hover {
    background-color: #f8f8f8;
}

nav li.language {
    margin-left: auto;
    cursor: pointer;
    padding: 10px 20px;
    position: relative;
}

nav li.language:hover {
    background-color: #f8f8f8;
}

nav li.language .language-list {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    flex-direction: column;
    background: #fff;
    box-shadow: 3px 3px 5px 0px rgba(208, 208, 208, 0.75);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(208, 208, 208, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(208, 208, 208, 0.75);
}

nav li.language:hover ul.language-list {
    display: flex;
}

.page-title {
    font-size: 28px;
    margin: 20px 0;
}

.content {
    font-size: 14px;
}